%colors {
  --color-white: #ffffff;
  --color-white-dark: #f7f8f9;
  --color-white-darker: #f5f5f5;
  --color-white-darker-alt1: #f3f3f3;
  --color-black: #4a4a4a;
  --color-black-darker: #000000;
  --color-black-alt-1: #242a37;
  --color-black-light: #484848;
  --color-black-lighter: #717073;
  --color-black-lignter-alt1: #333333;
  --color-blue: #007fb2;
  --color-teal: #339bb2;
  --color-teal-alt-1: #246e7f;
  --color-teal-alt-2: #34247f;
  --color-teal-alt-3: #1c5663;
  --color-teal-dark: #2a8194;
  --color-teal-darker: #276f7f;
  // From default
  --color-blue-100: #4299e14c;
  --color-blue-300: #3082ce;
  --color-gray-100: #f8f9fa;
  --color-gray-300: #cbd5e0;
  --color-green-500: #41b883;
  --color-slate-500: #34495e;
  --color-slate-900: #202b38;
}
